*{
    margin: 0;
    padding: 0;
}
.body{
    margin: 0 auto;
}

/* button design */

.hover:hover{
     background-color: whitesmoke;
    color: black;
    box-shadow: 0px 6px 50px 0px rgb(129, 129, 174);
}

/* header design */
.header-section1{
  margin: 0 auto;
  display: flex;
  justify-content: space-between; 
  margin-top: 31px;
  width: 1128px;
  height: 84px; 
  align-items: center;
}
.header-section2{
    margin: 49px auto;
    background-color: #FEEAE9;
    width: 1128px;
    /* width: 74rem; */
    height: 455px;
    align-items: center;
    display: flex; 
}
.header-details{
    /* border: 1px solid; */
    width: 560px;
    height: auto;
    margin-left: 53px;
}
.header-heading{
    font-size: 3rem;
    font-weight: bold;
    width: 560px;
    height: 84px;
    color: #1F1F1F;
}
.header-para{
    font-size: 1rem;
    height: 97px;
    width: 456px;
    color: #4E4E4E;
}
.header-tk{
    color: #FF136F;
    width: 117px;
    height: 62px;
    font-size: 2rem;
}
.header-button{
    background-color: #FF136F;
    width: 168px;
    height: 47px;
    color: #FFFFFF;
    border: none;
    font-size: 1rem;
    border-radius: 6px;
    box-shadow: 3px 3px 8px gray;
}
.header-image{
    /* border: 1px solid; */
    width: 402px;
    height: 378px;
    margin-right: 50px;
    margin-left: 64px;

}
.header-img{
    /* border: 1px solid; */
    width: 100%;
}
/* section1 design */
.section1{
    /* border: 1px solid; */
    width: 1128px;
    height: 200px;
    margin: 0 auto;
}
.sec1-para{
    color: white;
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
}
.section1-cards{
    display: flex;
    gap: 30px;

    justify-content: space-between;
    margin-top: 30px;
}
.catagorie-card1{
    display: flex;
    width: 360px;
    height: 120px;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid; */
    background-color: #FF9C35;
    color: #FFFFFF;
    /* font-size: 2.5rem; */
    border-radius: 15px;
    padding:0 30px;
}
.catagorie-card2{
    display: flex;
    width: 360px;
    height: 120px;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid; */
    background-color: #FF136F;
    color: #FFFFFF;
    /* font-size: 2.5rem; */
    border-radius: 15px;
     padding:0 30px;
}
    

.catagorie-card3{
    display: flex;
    width: 360px;
    height: 120px;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid; */
    background-color: #3F07F8;
     color: #FFFFFF;
     /* font-size: 2.5rem; */
     border-radius: 15px;
      padding:0 30px;
}

.section2{
    width: 1128px;
    margin: 60px auto;
}
.section2 h2{
    font-size: 2rem;
}
.section2-cards{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    
}
.section2-card{
    border: 3px solid #929292;
    border-radius: 20px;
    text-align: center;
    width: 360px;
    height: 495px;
    box-shadow: 1px 1px 9px rgb(195, 194, 194);
}

.section2-card,h3,h4{
    font-size: 1.5rem;
}
.section2-card,p{
    font-size: 1rem;
}
.sec2-btn{
    background-color: #000000; 
    color: #FFFFFF;
    font-size: 1rem;
    width: 150px;
    height: 50px;
    border-radius: 6px;
    border: none;
    box-shadow: 3px 3px 8px gray;
}
.section3{
    width: 1128px;
    height: 662px;
    margin: 60px auto;

}
.section3-cards{
    margin-top: 20px;
    display: flex;
    gap: 30px;
}
.section3-card{
    border: 2px solid #929292;
    border-radius:20px ;
    text-align: center;
    width: 360px;
    height: 585px;
    box-shadow: 1px 1px 9px rgb(195, 194, 194);
}
.section3-card h3,p,h4,button{
    /* border: 1px solid; */
    margin-top: 30px;
}
.section3-card,h3,h4{
    font-size: 1.5rem;
}
.section3-card,p{
    font-size: 1rem;
}
.sec3-btn{
    background-color: #000000; 
    color: #FFFFFF;
    font-size: 1rem;
    width: 150px;
    height: 50px;
    border-radius: 6px;
    border: none;
    box-shadow: 3px 3px 8px gray;
}
.section3 h2{
    font-size: 2rem;
}

.footer{
    width: 1128px;
    height: 455px;
    background-color: #FFF2F1;
    margin: 80px auto;
    /* justify-content: center;
    align-items: center; */
}
.footer-details{
    text-align: center;
}
.footer-all{
    /* border: 1px solid; */
    /* width: 682px; */
    margin: 0 auto;
    align-items: center;
    text-align: center;
    padding-top: 150px;
}
.footer-p{
    font-size: 1rem;
}
.footer-heading{
    font-size: 1.8rem;
    /* border: 1px solid; */
    margin-bottom: 8px;
    /* margin: 0 auto; */
    text-align: center;
}


.footer-input{
    width: 550px;
    height: 65px;
    border: none;
    padding-left: 35px;
    border-radius: 5px 0 0 5px;
    font-size: 1.2rem;
}
.footer-btn{
    width: 150px;
    height: 65px;
    border: none;
    color: #FFFFFF;
    background-color: #FF589B;
    font-size: 1.2rem;
    /* font-weight: bold; */
    margin-left: -5px;
    border-radius: 0 5px 5px 0 ;
}



@media screen and (max-width:640px){
     .header{
        width: 400px;
        margin: 0 auto;
     }
    .header-section1{
        width: 370px;
        margin-top: 5px;
      
    }
    .header-section2{
        width: 400px;
        height: auto;
        flex-direction: column;
    }
    .header-heading,
    .header-para,
    .header-tk{
        width: 350px;
        height: auto;
        text-align: center;
        margin-top: 10px;
    }
    .header-button{
       align-items: center;
       margin: 0 auto;
    }
    .header-btn{
        text-align: center;
    }
     .header-details{
        margin: 0 auto;
        align-items: center;
        width: 350px;
        height: auto;
     }
     .header-image{
        width: 350px;
        margin: 20px auto;
     }
     
     .section1{
        height: auto;
        width: 370px;
     }
     .section1-all{
        /* border: 1px solid; */
        width: 410px; 
        margin:0;
     } 
     .categories{
        width: 100px;
        text-align: center;
        margin: 0 auto;
     }
      .section1-cards{
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
      }
      .catagorie-card1,
      .catagorie-card2,
      .catagorie-card3{
        width: 300px;
        border: 1px solid;
      }
      .section2{
        height: auto;
        text-align: center;
        width: 400px;
        margin: 0 auto;
      }
      .section2-cards{
        flex-direction: column;
        margin-left:15px ;
      }
      .section3{
        height: auto;
        text-align: center;
        width: 400px;
        margin: 0 auto;
      }
      .section3-cards{
        flex-direction: column;
        margin-left:15px ;
      }
      .footer{
        width: 400px;
        margin: 30 auto;
      }
      .footer-input{
         width: 360px;
         border-radius: 6px;
         margin-top: 30px;
      }
      .footer-btn{
        border-radius: 6px;
      }


}

